.board-info {
  color: black;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 5px;
  background: white;
}

.captured-piece__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
