.FEN-generator__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.app__fen-generator .FEN-generator__container {
    padding: 0;
    width: 100%;
}

.FEN-input{
    width: 50%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 12px;
    resize: none;
    font-size: 18px;
    height: 70px;
}
