@import "./css/fonts.css";
@import "./css/buttons.css";
@import "./css/squares.css";
@import "./css/board.css";
@import "./css/board-info.css";
@import "./css/captured-piece.css";
@import "./css/FEN-generator.css";
@import "./css/piece.css";
@import "./css/FEN-parser.css";
@import "./css/move-list.css";
@import "./css/notification-modal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(253, 253, 253);
  color: white;
  margin: 0 auto;
  max-width: 1100px;
}

* {
  font-family: Ubuntu;
}

h1 {
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 35px;
}

.red {
  /* background-colcoor: hsl(9.18, 95.51%, 34.9%); */
  color: hsl(9.18, 95.51%, 34.9%);
}

.black {
  /* background-color: hsl(46.67, 13.85%, 12.75%); */
  color: hsl(46.67, 13.85%, 12.75%);
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__container {
  display: grid;
  grid-template-columns: auto 450px auto;
  grid-template-rows: 1fr;
  gap: 30px;
  align-items: start;
  justify-content: center;
  margin-top: 20px;
}

.app__left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 220px;
}

.app__control-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.app__fen-generator {
  width: 100%;
  margin-top: 30px;
}

.app__fen-parser {
  width: 100%;
  /* margin-top: 15px; */
}

.app__board-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app__right-panel {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
  min-height: 500px;
}

.app__right-panel h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.app__bottom-panel {
  margin-top: 10px;
  padding: 0 20px;
}

